#设备平台
CONFIG_TARGET_qualcommbe=y
CONFIG_TARGET_qualcommbe_ipq53xx=y
#设备列表
CONFIG_TARGET_DEVICE_qualcommbe_ipq53xx_DEVICE_jdcloud_re-cs-08=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommbe_ipq53xx_DEVICE_jdcloud_re-cs-08="luci-app-lucky luci-app-dockerman"
CONFIG_TARGET_DEVICE_qualcommbe_ipq53xx_DEVICE_xiaomi_be3600-pro-wired-p5=y
CONFIG_TARGET_DEVICE_qualcommbe_ipq53xx_DEVICE_xiaomi_be3600-pro-wired-p8=y

CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-openlist2=m
CONFIG_PACKAGE_luci-app-gecoosac=y
CONFIG_PACKAGE_luci-app-lucky=m
CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-filebrowser-go=m
CONFIG_PACKAGE_luci-app-rclone=m
CONFIG_PACKAGE_luci-app-openclash=y
