CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq50xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_BOARD="qualcommax"
CONFIG_TARGET_SUBTARGET="ipq50xx"
CONFIG_TARGET_ARCH_PACKAGES="aarch64_cortex-a53"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mcpu=cortex-a53"
CONFIG_TARGET_OPTIMIZATION="-Os -pipe -mcpu=cortex-a53"
CONFIG_CPU_TYPE="cortex-a53"

CONFIG_TARGET_DEVICE_qualcommax_ipq50xx_DEVICE_jdcloud_re-cs-03=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq50xx_DEVICE_jdcloud_re-cs-03=""
CONFIG_TARGET_DEVICE_qualcommax_ipq50xx_DEVICE_xiaomi_ax6000=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq50xx_DEVICE_xiaomi_ax6000=""
CONFIG_TARGET_DEVICE_qualcommax_ipq50xx_DEVICE_xiaomi_redmi-ax5400=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq50xx_DEVICE_xiaomi_redmi-ax5400=""

CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_PACKAGE_nss-firmware=n
CONFIG_PACKAGE_nss-firmware-ipq50xx=n

CONFIG_PACKAGE_luci-app-openlist2=n
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-athena-led=m
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m
CONFIG_PACKAGE_luci-app-lucky=m
CONFIG_PACKAGE_luci-app-gecoosac=y
CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-filebrowser-go=m
