name: Trigger-All-Workflows  # 主要工作流的名称

on:
  workflow_dispatch:  # 手动触发：通过 GitHub UI 来触发
  schedule:
    - cron: 0 18 * * 5  # 北京时间星期六凌晨2点，定时触发

jobs:

  IPQ60XX-6_12-Libwrt:
    uses: ./.github/workflows/6.12-WIFI-CORE.yml
    with:
      WRT_TARGET: 'IPQ60XX'

  IPQ807X-6_12-Libwrt:
    uses: ./.github/workflows/6.12-WIFI-CORE.yml
    with:
      WRT_TARGET: 'IPQ807X'

  Arthur-Athena-Taiyi-6_12-Libwrt:
    uses: ./.github/workflows/6.12-WIFI-CORE.yml
    with:
      WRT_TARGET: 'Arthur&Athena&Taiyi'

  x86-64-6_12-Immortalwrt:
    uses: ./.github/workflows/6.12-WIFI-CORE.yml
    with:
      WRT_TARGET: 'x86-64'
      WRT_SOURCE: 'immortalwrt/immortalwrt'
      WRT_BRANCH: 'master'
      WRT_FIRMWARE_BODY: '这是基于ImmortalWrt主线制作的个人定制固件，默认主题为Argon'

  RAX3000M-5_15-Immortalwrt:
    uses: ./.github/workflows/6.12-WIFI-CORE.yml
    with:
      WRT_TARGET: 'RAX3000M'
      WRT_SOURCE: 'immortalwrt/immortalwrt'
      WRT_BRANCH: 'openwrt-23.05'
      WRT_FIRMWARE_BODY: '这是CMCC RAX3000M NAND version (custom U-Boot layout)的5.15内核固件，默认主题为Argon'

  Delete-Old-Workflows:
    uses: ./.github/workflows/Delete-Old-Workflows.yml
